body {
    background-color: darkgray;
}

#panel1,
#panel2,
#panel3,
#panel4,
#panel5 {
    transition: .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    opacity: 1;
}

#panel1 {
    background-color: blue;
}

#panel2 {
    background-color: red;
}

#panel3 {
    background-color: green;
}

#panel4 {
    background-color: yellow;
}

#panel5 {
    background-color: purple;
}

#panel1:hover,
#panel2:hover,
#panel3:hover,
#panel4:hover,
#panel5:hover {
    top: 25%;
    left: 25%;
    opacity: 0;
}